# Ignore node_modules
node_modules/

# Ignore environment files (for security)
.env

# Ignore build and dependency folders
dist/
build/

# Ignore log files
*.log
logs/

# Ignore system-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore large files
frontend/public/videos/*.mp4

# Ignore Docker files and folders
docker/

# Ignore __test__ folder
__test__/

